<% if session[:user_name] %>
  <li>
    <%= link_to(session[:user_name], "#", :class => "navbar-link") %>
  </li>
<% end %>
<% if session[:user_name] %>
  <li>
    <%= link_to "Create new Recipe", new_recipe_path %>
  </li>
  <li>
    <%= link_to "My recipes", recipes_path %>
  </li>
  <li>
    <%= button_to "Log out", logout_path, :class => "btn btn-danger navbar-btn", :method => :get %>
  </li>
<% else %>
  <li>
    <%= link_to "Sign up", 'sign_up' %>
  </li>
  <li>
    <%= button_to "Log in", 'login', :class => "btn btn-success navbar-btn", :method => :get %>
  </li>
<% end %>