<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <p><b><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</b></p>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= f.text_field :first_name, :class => "form-control" %>

<%= f.text_field :last_name, :class => "form-control" %>

<%= f.text_field :email, :class => "form-control" %>

<%= f.password_field :password, :class => "form-control" %>

<%= f.password_field :password_confirmation, :class => "form-control" %>

<%= f.text_area :bio, :class => "form-control" %>
