<!DOCTYPE html>
<html>
<head>
  <title>Mycookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fuild">
      <div class="navbar-header">
        <%= link_to("Mycookbook", root_path, :class => "navbar-brand") %>
        <p class="navbar-text">
          Your online recipes
        </p>
      </div>
      <div class="collapse navbar-collapse" id="navbar_collapse">
        <ul class="nav navbar-nav navbar-right">
          <%= render(:partial => 'partials/navigation', :locals => {}) %>
        </ul>
      </div>
    </div>
  </nav>
  <%= show_alerts %>
  <div class="container-fluid">
    <div class="row">
      <%= yield %>
    </div>
  </div>
  
</body>
</html>
